.class-Ejercicio2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 0 25px;
    height: calc(100vh - 185px);

    pre {
        background: #030226b3;
        box-shadow: 2px 20px 20px 2px #0002;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        color: white;
        padding: 25px;
    }
}