.class-disabled{
    pointer-events:none;
}

html {
    background-image: url($background-image);
    background-size: cover;
}

.class-Menu {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    padding: 25px;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.5) 50%, rgba(0,212,255,0) 100%);

    > img  {
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-self: right;
        gap: 20px;

        li {
            list-style: none;

            a {
                color: #E62429;
                text-decoration: none;
            }
        }
    }
}