.class-disabled{
    pointer-events:none;
}

html {
    background-image: url($background-image);
    background-size: cover;
}

.class-Menu {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    padding: 25px;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.5) 50%, rgba(0,212,255,0) 100%);

    > img  {
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-self: right;
        gap: 20px;

        li {
            list-style: none;

            a {
                color: #E62429;
                text-decoration: none;
            }
        }
    }
}

.class-Ejercicio3 {
    display: grid;
    grid-template-rows: 170px calc(100vh - 96px - 170px);

    > div:nth-child(2){
        display: flex;
        gap: 25px;
        padding-left: 25px;
        margin: 25px 0;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 25px;
        
        .class-CardHero {
            position: relative;
            background: #030226b3;
            display: grid;
            grid-template-columns: 40% 60%;
            min-width: 410px;
            box-shadow: 2px 20px 20px 2px #0002;
    
            img {
                width: 100%;
                grid-row: 1/span 4;
            }
        }
    }
}
